{% extends 'core.html.twig' %}

{% block title %}Ajout de données - MDL{% endblock %}

{% block content %}
    <h2 class="mt-5 text-center"> Création d'un atelier </h2>
    <hr class="mt-4 w-25">
    {% if themes %}
        <div class="container">
            {{ form_start(atelierForm) }}
            <div class="row col-5 mt-5">
                {{ form_label(atelierForm.libelle, 'Libellé') }}
                {{ form_widget(atelierForm.libelle, {'attr': {'placeholder': "Saisir le libelle de l'atelier"}}) }}
            </div>
            <div class="row col-5 mt-3">
                {{ form_label(atelierForm.nbPlacesMaxi, 'Nombre maximum de places') }}
                {{ form_widget(atelierForm.nbPlacesMaxi) }}
            </div>
            <div class="row col-6 mt-3 mb-3">
                {{ form_label(atelierForm.lesthemes, 'Thèmes correspondant') }}
                {{ form_widget(atelierForm.lesthemes) }}
            </div>
            {{ form_errors(atelierForm) }}
            <div class="row col-4">
                <button type="submit" class="btn btn-success"> Créer </button>
                <a href="{{ path('creer_choix') }}" class="btn btn-secondary ml-2"> Retour </a>
            </div>
            {{ form_end(atelierForm) }}
        </div>
    {% else %}
        <div class="alert alert-warning mt-4 text-center">
            La création d'ateliers est impossible. Il n'y a aucun thème d'enregistrer.
        </div>
        <div class="mt-5 text-center">
            <a href="{{ path('creer_theme') }}" class="btn btn-primary w-25"> Créer un thème </a>
            <a href="{{ path('creer_choix') }}" class="btn btn-secondary ml-2 w-25"> Retour au choix de création </a>
        </div>
    {% endif %}
{% endblock %}
