{% extends "core.html.twig" %}
{% block content %}
    <center>
        <p class="info">
            La Maison des Ligues de Lorraine (MDL) a pour mission de fournir des espaces et des services aux 
            différentes ligues sportives régionales et à d’autres structures hébergées. La MDL est une structure 
            financée par le Conseil Régional de Lorraine dont l'administration est déléguée au Comité Régional 
            Olympique et Sportif de Lorraine (CROSL).
        </p>
        
        <p class="red">
            Le Congrès sera organisé le : Samedi 17 et le Dimanche 18 septembre 2022.
        </p>
        
        <ul>
            <h5> Hotels à proximitées :</h5>
        {% for hotel in hotels %}
            <div class="d-inline-flex p-2 blockEncadre">
                {{ hotel.pnom }}<br>
                <th>-----------------</th><br>
                {{ hotel.adresse1 }}<br>
                {{ hotel.cp }}<br>
                {{ hotel.ville }}<br>
                {{ hotel.tel }}<br>
                {{ hotel.mail }}<br>
                Single | Double<br>
                {% for tarif in hotel.leTarifNuitee %}
                    [{{ tarif.tarifNuitee }}€]
                {# {{ hotel.leTarifNuite }} #}
                {% endfor %}
            </div>
        {% endfor %}
        </ul>
        <p>
           Tarif repas accompagnant 30€ le repas
        </p>
        <p>
           Possibilités : samedi midi - samedi soir – dimanche midi
        </p>
    </center>

{% endblock %}