{% extends 'core.html.twig' %}
{% block content %}
    {% for message in app.flashes('erreur') %}
        <div class="alert alert-danger mt-4 text-center" role="alert">
            {{ message }}
        </div>
    {% endfor %}
    {% block body %}
        {% for message in app.flashes('message') %}
            <div class="alert alert-info mt-4 text-center" role="alert">
                {{ message }}
            </div>
        {% endfor %}
        <h1>S'enregistrer sur le site Maison des Ligues</h1>

        {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.identifiant, {
            label: 'Identifiant [Numéro de licence pour les licencié | Email pour les visiteurs]'
        })  }}
        {{ form_row(registrationForm.password) }}
        {{ form_errors(registrationForm) }}


        <button class="btn btn-lg btn-primary" type="submit">S'enregistrer</button>
        <a href="/" class="btn btn-lg btn-secondary"> Retour </a>
        {{ form_end(registrationForm) }}
    {% endblock %}

{% endblock %}
