{% extends 'core.html.twig' %}

{% block title %}Ajout de données - MDL{% endblock %}

{% block content %}
    <h2 class="mt-5 text-center"> Création d'une vacation </h2>
    <hr class="mt-4 w-25">
    {% if ateliers %}
        <div class="container">
            {{ form_start(vacationForm) }}
            <div class="row mt-5">
                {{ form_label(vacationForm.dateHeureDebut, 'Date et heure du début') }}
                {{ form_widget(vacationForm.dateHeureDebut, {'attr': {'placeholder': "Saisir la date et l'heure du début de la vacation"}}) }}
            </div>
            <div class="row mt-2">
                {{ form_label(vacationForm.dateHeureDebut, 'Date et heure de fin') }}
                {{ form_widget(vacationForm.dateHeureFin, {'attr': {'placeholder': "Saisir la date et l'heure de la fin de la vacation"}}) }}
            </div>
            <div class="row mt-2 mb-4">
                {{ form_label(vacationForm.atelier, 'Atelier correspondant') }}
                {{ form_widget(vacationForm.atelier) }}
            </div>
            <div class="row">
                <button type="submit" class="btn btn-success"> Créer </button>
                <button onclick="window.location.href = '/creer/choix';" class="btn btn-secondary ml-2"> Retour </button>
            </div>
            {{ form_end(vacationForm) }}
        </div>
    {% else %}
        <div class="alert alert-warning mt-4">
            <p class="text-center"> La création de vacations est impossible. Il n'y a aucun atelier d'enregistrer. </p>
        </div>
        <div class="mt-5 text-center">
        <button onclick="window.location.href = '/creer/atelier';" class="btn btn-primary w-25"> Créer un atelier </button>
        <button onclick="window.location.href = '/creer/choix';" class="btn btn-secondary ml-2 w-25"> Retour au choix de création </button>
        </div>
    {% endif %}
{% endblock %}
