{% extends 'core.html.twig' %}

{% block title %}Création d'un atelier{% endblock %}

{% block content %}
    <div>
        {{ form_start(atelierForm) }}
        <div>
            {{ form_label(atelierForm.libelle, 'Libelle') }}
            {{ form_widget(atelierForm.libelle, {'attr': {'placeholder': "Saisir le libelle de l'atelier"}}) }}
        </div>
        <div>
            {{ form_label(atelierForm.nbPlacesMaxi, 'Nombre maximum de places') }}
            {{ form_widget(atelierForm.nbPlacesMaxi) }}
            {{ form_errors(atelierForm.nbPlacesMaxi) }}
        </div>
        <button type="submit" class="btn btn-success"> Créer </button>
        {{ form_end(atelierForm) }}
    </div>
{% endblock %}
