{% extends "core.html.twig" %}
{% block content %}
    <center>
        <div class="info">
            <p class="col-7">
                La Maison des Ligues de Lorraine (MDL) a pour mission de fournir des espaces et des services aux 
                différentes ligues sportives régionales et à d’autres structures hébergées. La MDL est une structure 
                financée par le Conseil Régional de Lorraine dont l'administration est déléguée au Comité Régional 
                Olympique et Sportif de Lorraine (CROSL).
            </p>
        </div>
        {% for message in app.flashes('erreur') %}
            <div class="alert alert-danger mt-4 text-center" role="alert">
                {{ message }}
            </div>
        {% endfor %}
        <p class="red">
            Le Congrès sera organisé le : Samedi 17 et le Dimanche 18 septembre 2022.
        </p>
        <ul>
            <hr class="mt-4 mb-5 w-25">
            <h5> Hôtels à proximité :</h5>
            {% for hotel in hotels %}
                <div class="d-inline-flex p-2 blockEncadreH">
                    {{ hotel.pnom }}<br>
                    <th>-----------------</th><br>
                    {{ hotel.adresse1 }}<br>
                    {{ hotel.cp }}<br>
                    {{ hotel.ville }}<br>
                    {{ hotel.tel }}<br>
                    {{ hotel.mail }}<br>
                    Single | Double<br>
                    {% for tarif in hotel.leTarifNuitee %}
                        [{{ tarif.tarifNuitee }}€]
                    {% endfor %}
                </div>
            {% endfor %}
        </ul>

        <p>
            Tarif repas accompagnant : 30€ le repas
        </p>
        <p>
            Possibilités : Samedi midi - Samedi soir - Dimanche midi
        </p>

        <hr class="mt-4 mb-5 w-25">
        <h5> Ateliers disponibles :</h5>
        <div class="d-flex blockEncadreA">
            <div class="p-2 info">
                Libelle :<br>
                Nombre de places :<br>
                Theme :<br>
                Début :<br>
                fin :
            </div>
            {% for atelier in ateliers %}
                <div class="p-2">
                    {{ atelier.libelle }}<br>
                    {{ atelier.nbplacesmaxi }}<br>
                    {% for theme in atelier.lesThemes %}
                        {{ theme.libelle }}<br>
                    {% endfor %}
                    {% for vacation in atelier.lesVacations %}
                        {{ vacation.dateHeureDebut|date('d-m-Y') }}<br>
                        {{ vacation.dateHeureFin |date('d-m-Y') }}<br>
                    {% endfor %}
                </div>
            {% endfor %}
        </div> 
    </center>
{% endblock %}